<section id="header" class="skel-layers-fixed">
    <header>
        <span class="image avatar"><img src="{{ "/images/avatar.jpg" | prepend: site.url }}"alt="" /></span>
        <h1 id="logo"><a href="{{ "/index.html" | prepend: site.url }}">Rafael Ketsetsides</a></h1>
        <p><script>var quotes=["Without music,<br>Life would be a mistake.<br>-Friedrich Nietzsche", "Not all those who wander,<br>Are lost.<br>-J.R.R. Tolkien", "Time is an illusion.<br>Lunchtime doubly so.<br>-Douglas Adams", "Nanakorobi<br>Yaoki"];
document.write(quotes[Math.floor(Math.random()*quotes.length)]);</script></p>
    </header>
    <nav id="nav">
        <ul>
            <li><span class="fa-user fa-2x fa-fw pull-left"></span><a href="{{ "/index.html#one" | prepend: site.url }}" class="active">About Me</a></li>
            <li><span class="fa-signal fa-2x fa-fw pull-left"></span><a href="{{ "/index.html#two" | prepend: site.url }}">Skills/Interests</a></li>
            <li><span class="fa-trophy fa-2x fa-fw pull-left"></span><a href="{{ "/index.html#three" | prepend: site.url }}">Accomplishments/Projects</a></li>
            <li><span class="fa-pencil fa-2x fa-fw pull-left"></span><a href="{{ "/blog/" | prepend: site.url }}">Blog</a></li>
            <li><span class="fa-download fa-2x fa-fw pull-left"></span><a href="{{ "/content/CV/CV.pdf" | prepend: site.url }}">Download CV</a></li>
        </ul>
    </nav>
    <footer>
        <ul class="icons">
            <li><a href="http://github.com/rafket" class="icon fa-github"><span class="label">Github</span></a></li>
            <li><a href="mailto:rketsetsides@gmail.com" class="icon fa-envelope"><span class="label">Email</span></a></li>
            <li><a href="http://soundcloud.com/rafael859" class="icon fa-soundcloud"><span class="label">SoundCloud</span></a></li>
            <li><a href="http://reddit.com/u/rafael859" class="icon fa-reddit"><span class="label">Reddit</span></a></li>
        </ul>
    </footer>
</section>
